<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            role="button">
          image
        </th>

        <th (click)="closeDateClicked()"
            scope="col"
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            role="button">close date
          <span class="glyphicon"
                [ngClass]="{ 'glyphicon-triangle-bottom': closeDateDes, 'glyphicon-triangle-top': closeDateAsc }"></span>
        </th>

        <th scope="col"
            (click)="titleClicked()"
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            role="button">title
          <span class="glyphicon"
                [ngClass]="{ 'glyphicon-triangle-bottom': titleDes, 'glyphicon-triangle-top': titleAsc }"></span>
        </th>

        <th scope="col"
            (click)="seasonClicked()"
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            role="button">season
          <span class="glyphicon"
                [ngClass]="{ 'glyphicon-triangle-bottom': seasonDes, 'glyphicon-triangle-top': seasonAsc }"></span>
        </th>

        <th scope="col"
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            (click)="episodeClicked()"
            role="button">episode
          <span class="glyphicon"
                [ngClass]="{ 'glyphicon-triangle-bottom': episodeDes, 'glyphicon-triangle-top': episodeAsc }"></span>
        </th>

        <th scope="col"
            (click)="lastPositionClicked()"
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            role="button">last position
          <span class="glyphicon"
                [ngClass]="{ 'glyphicon-triangle-bottom': lastPositionDes, 'glyphicon-triangle-top': lastPositionAsc }"></span>
        </th>

        <th scope="col"
            (click)="durationClicked()"
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            role="button">duration
          <span class="glyphicon"
                [ngClass]="{ 'glyphicon-triangle-bottom': durationDes, 'glyphicon-triangle-top': durationAsc }"></span>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos">
        <td>
          <img class="img-small"
               src="{{video.imageUrl}}"
               alt="No image available">
        </td>
        <td>
          {{video.closeDate}}
        </td>
        <td>
          {{video.title}}
        </td>
        <td>
          {{video.season}}
        </td>
        <td>
          {{video.episode}}
        </td>
        <td>
          {{video.lastPosition}}
        </td>
        <td>
          {{video.duration}}
        </td>
      </tr>
    </tbody>
  </table>
</div>